.below_part_add_note
{
    height: auto;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}
.created_head
{
    text-align: center;
    font-size: 2.3rem;
    color: rgb(85, 85, 85);
    font-weight: 600;
    margin-top: 55px;
    margin-left: -9px;
}
.container_notes_created
{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -15px;
    margin-left: -18px;
    /* background-color: red; */
}
.custom-message
{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(143, 143, 143);
    position: relative;
    top: -6px;
}